<% let posts = [] %>
<% let short_longth = theme.max_items_each %>
<% site.tags.data.forEach(tag => { %>
    <% if (is_tag(tag.name)) { %>
        <%
            posts = tag.posts
            posts.data.sort((a, b) => b.date - a.date)
        %>
    <% } %>
<% }) %>
<%- include('_partial/cat-bar') %>
<div class="cat-box">
    <div class="cat-title">标签：</div>
    <div class="cat-list">
        <% site.tags.data.sort((a, b) => b.posts.length - a.posts.length).forEach(function(tag) { %>
            <div class="cat-item">
                <a href="<%- url_for(tag.path) %>"><%= tag.name %>(<%= tag.posts.length %>)</a>
            </div>
        <% }) %>
    </div>
</div>
<% if (!posts.length) { %>
  <section class="archive-list">
        <% site.tags.each(function (tag) { %>
            <a href="<%- url_for(tag.path) %>" class="archive-sub" id="<%= tag.name %>">
                <i class="fa fa-genderless"></i>
                <%= tag.name %>
            </a>
            <% 
                let tag_posts = tag.posts,
                    too_long = false
                tag_posts.data.sort((a, b) => b.date - a.date)
            %>
            <% if (tag_posts.length > theme.max_type_each) { %>
                <% 
                    tag_posts = tag_posts.slice(0, short_longth)
                    too_long = true
                %>
            <% } %>
            <ul class="archive">
                <% tag_posts.forEach(function (post) { %>
                    <li>
                        <span class="archive-date">
                            <%= date(post.date, "YY-MM-DD" ) %>
                        </span>
                        <div class="archive-main">
                            <a class="archive-title" href="<%- url_for(post.path) %>">
                                <%= post.title %>
                            </a>
                            <a class="archive-info" href="<%- url_for(post.categories.data[0].path) %>">
                                <%= post.categories.data[0].name %>
                            </a>
                        </div>
                    </li>
                <% }) %>
                <% if (too_long) { %>
                    <a class="archive-more" href="<%- url_for(tag.path) %>">查看更多<i class="fa fa-angle-double-right"></i></a>
                <% } %>
            </ul>
        <% })%>
    </section>
<% } else { %>
    <% let page_tag = [] %>
    <% posts.data[0].tags.data.forEach(this_tag => { %>
        <% if (is_tag(this_tag.name)) { %>
            <% page_tag = this_tag %>
        <% } %>
    <% }) %>
    <section class="archive-list">
        <ul class="archive">
            <span class="archive-sub-type">
                <i class="fa fa-genderless"></i>
                <%= page_tag.name %>
            </span>
            <% posts.forEach(function (post) { %>
                <li>
                    <span class="archive-date"><%= date(post.date, "YY.MM.DD") %></span>
                    <div class="archive-main">
                        <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                        <a class="archive-info" href="<%- url_for(post.categories.data[0].path) %>">
                            <%= post.categories.data[0].name %>
                        </a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </section>
    <%- partial('_partial/paginator') %>
<% } %>