<!DOCTYPE html>
<!--
 !
 !
 !
 !
 !
 !
ₘₙⁿ
▏n
█▏　､⺍
█▏ ⺰ʷʷｨ
█◣▄██◣
◥██████▋
　◥████ █▎
　　███▉ █▎
　◢████◣⌠ₘ℩
　　██◥█◣\≫
　　██　◥█◣
　　█▉　　█▊
　　█▊　　█▊
　　█▊　　█▋
　　 █▏　　█▙
　　 █
止まるんじゃねぇぞ…

-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="author" content="<%= config.author %>">
    <meta name="description" content="<%= config.title %>">

    <title>
        <%= config.title %>
    </title>

    <link rel="alternate icon" type="image/png" href="<%- url_for('/img/logo.png') %>">
     <link rel="preconnect" href="https://cdn.bootcdn.net" crossorigin>
    <link rel="preconnect" href="https://cdn.staticfile.net" crossorigin>

    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" />
    <link rel="preload" as="style" href="https://cdn.staticfile.net/font-awesome/4.7.0/css/font-awesome.min.css"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.staticfile.net/font-awesome/4.7.0/css/font-awesome.min.css"></noscript>
    <%- css('css/reset.css') %>
    <%- css('css/theme-scheme.css') %>
    <%- css('css/style.css') %>
    <%- css('css/article.css') %>
    <%- css('css/animation.css') %>
    <%- js('js/functions.js') %>
    <%- js('js/word-card.js') %>
    <%- js('js/theme-scheme.js') %>
</head>

<body>