<div class="post-header post-header-sticky">
    <div class="post-main post-header-info">
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta">
           <% page.tags.each(function(tag) { %>
                <span class="post-tag"><%= tag.name %></span>
            <% }) %>
        </div>
        <% if (config.symbols_count_time.symbols) { %>
            <div class="post-meta">
                约<%= symbolsCount(page) %>字 | 需 <%= symbolsTime(page) %>
            </div>
        <% } %>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD" ) %>
        </div>
    </div>
</div>